image:
  repository: docker.io/ansuca/gitops-sample
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 8080

resources: {}

env: []

ingress:
  enabled: false
  className: ""
  hosts:
    - host: gitops-sample.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
