apiVersion: v1
kind: Service
metadata:
  name: app
spec:
  selector:
    app: app
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      protocol: TCP
  type: {{ .Values.service.type }}
